<launch>
  <arg name="simulate" default="false" />
  <param name="/segment_storage/simulate" value="$(arg simulate)" />
  <rosparam file="$(find project_launch)/config/topic_names.yaml" command="load" />
  <node name="segment_storage" pkg="segment_storage" type="segment_storage" output="screen" />
</launch>
