<launch>
  <!-- if the gather is set to true, then the node will listen to topics and
       construct the map. If set to false, the node will publish the map
       contained in the specified rosbag file -->
  <arg name="mapfile" default="none"/>
  <param name="/topological/mapbag" value="$(arg mapfile)"/>
  <rosparam file="$(find project_launch)/config/topic_names.yaml" command="load"/>
  <node name="topological_map" pkg="topological_map" type="topological_map" output="screen"/>
</launch>
